<!DOCTYPE html>
    <html>
    <head>
    
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Sinus Configurator | HOME </title>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    
    
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            </ul>
            <h1>Sinus Configurator</h1>
            <h4>A customizable Moderation bot made for Discord Hack Week 2019.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Discord Bot Sinus was programmed by MintSoup#3659.</h4>
            <div style="text-align:center;">
                    <button class="invite">INVITE SINUS</button>
            </div>
            <!--<footer>
                <h6>Sinus Project for Discord Hack Week 2019</h6>
                <h6>Website by Freakzz#5336</h6>
              </footer>-->
            </body>
            </html>
            